<h1>Descriptive Statistics Results</h1>

<h6>Numbers</h6>
<p> a<%= @numbers %> </p>


<h6>Sorted Numbers</h6>
<p> <%= @sorted_numbers %> </p>


<h6>Count</h6>
<p> <%= @count %> </p>

<h6>Minimum</h6>
<p> <%= @minimum %> </p>


<h6>Maximum</h6>
<p> <%= @maximum %> </p>


<h6>Range</h6>
<p> <%= @rame %> </p>


<h6>Median</h6>
<p> <%= @median %> </p>


<h6>Sum</h6>
<p> <%= @sum %> </p>


<h6>Mean</h6>
<p> <%= @mean %> </p>


<h6>Variance</h6>
<p> <%= @variance %> </p>


<h6>Standard Deviation</h6>
<p> <%= @standard_deviation %> </p>


<h6>Mode</h6>
<p> <%= @mode %> </p>