<h1>Word Count Results</h1>

<h6>Text</h6>
<p> a<%= @text %> </p>


<h6>Word Count</h6>
<p> <%= @word_count %> </p>


<h6>Character Count (with spaces)</h6>
<p> <%= @character_count_with_spaces %> </p>


<h6>Character Count (without spaces)</h6>
<p> <%= @character_count_without_spaces %> </p>


<h6>Occurrences of <%= @special_word %> </h6>
<p> <%= @occurrences %> </p>